@import "~react-image-gallery/styles/css/image-gallery.css";

.Photos {
    width: 100%;
    height: fit-content;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}

#photosContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: url(../Media/vines-hangingDown-transparent.jpg) no-repeat top center;
    background-size: 100% 100%; 
}

#photosMainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #cea0cfea;
    padding: 0% 0% 4%;
}

.photosHeader {
    width: 100%;
    height: fit-content;
    padding: 2% 0% 2%;
}

#photosFlowerDivider {
    width: 40%;
    height: 8vh;
}

#photosGalleryDiv {
    max-width: 100%;
}