.App {
  text-align: center;
}

.App-logo {
  height: 40%;
  width: 80%;
  pointer-events: none;
}

.App-header {
  /* background-color: #31333B; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.sub-content {
    text-align: center;
}

.videoTag {
    /* height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none; */
    /* z-index:-1 */
    /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100vh; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
}